div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    border-top: 1px solid #DEDDDC;
    margin-top: -6px;
}



.threadlyDesc{
    padding: 15px;
    text-align: center;
    border-top: 1px solid #DEDDDC;
    margin-top: 12px;
}