body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Crimson Text', serif;
  letter-spacing: 2px;
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}

.container-fluid {
  position: fixed;
  background-color: #191919;
  width: 100%;
  height: 60px;
  border-radius: 2px;
  z-index: 25;
}

.container-fluid .nav {
  width: 100%;
  height: 100%;
  margin-top: 5px;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  padding: 0 10px;
}

.title {
  padding-top: 15px;
}

.title li {
  list-style: none;
  display: inline;
  font-size: 20px;
  font-weight: 600;
}

.container-fluid .nav-pills>li.active> .nav-pills>li.active>a:hover {
  color: #191919;
  background-color: #eee;
}

#pillz .nav-pills>li.active>a,
#pillz .nav-pills>li.active>a:focus,
#pillz .nav-pills>li.active>a:hover {
  background-color: #eee;
  color: #191919;
}

#pillz .nav>li>a:focus {
  text-decoration: none;
  background-color: #191919;
  color: #eee;
}

.container-fluid .nav a:hover {
  background-color: #eee;
  color: #191919;
}

.nav a:visited {
  color: #eee;
}

.nav a {
  color: #191919;
  font-size: 18px;
}
.header-icons{
  padding-top: 20px;
  margin-right: 5px;
}
.jumbotron {
  height: 1000px;
  color: white;
  text-align: right;
  background-size: cover;
  margin-bottom: 0;
}

.jumbotron .container {
  position: relative;
}

#home {
  width: 100%;
  background-color: #DB995A;
  color: black;
}

#home .fa {
  color: #191919;
}
#home .fa:hover{
  color: white;
  transition: 1s;
}

#home .container {
  width: 100%;
  text-align: center;
}

#home h1 {
  padding-top: 130px;
}

#about {
  background-color: #eee;
  color: #191919;
  padding-top: 80px;
}

#about p {
  padding-top: 30px;
}

#featured {
  background-color: #eee;
  color: #191919;
}
#featured img{
  width: auto;
  height: 100%;
}
#featured img:hover{
 box-shadow: 0 0 25px 5px grey;
  cursor: pointer;
}

#projects {
  background-color: #eee;
  color: #191919;
  text-align: left;
  width: 100%;
  height: 100%;
};
#projects h1{
  margin-bottom: 100px;
}

footer {
  height: 80px;
  background-color: #191919;
}

.footer-icons {
  margin: 0 auto;
  padding-top: 20px;
}

.fa {
  margin-left: 5px;
  color: white;
}
footer{
  
}
footer .fa:hover{
  color: grey;
  transition: 1s;
}

/*Portfolio Cards*/


 #cardz .nav {
  margin: 0 auto;
  width: 100%;
  
}

#cardz .nav-pills>li.active>a,
#cardz .nav-pills>li.active>a:focus,
#cardz .nav-pills>li.active>a:hover {
  color: #191919;
  background-color: #DB995A;
}
#cardz .nav{
  margin-bottom: 15px;
}
#cardz .nav a {
  color: #000;
}

#cardz .card {
  border: 1px solid black;
  margin: 10px 0;
  border-radius: 5px;
  color: #333;
  text-align: center;
}

#cardz .card:hover {
  box-shadow: 0 0 25px 5px grey;
  cursor: pointer;
}

#cardz .card img {
  max-width: 100%;
  height: 190px;
}



.nav a {
  color: white;
  font-size: 18px;
}

.card {
  border: 1px solid black;
  margin: 10px 0;
  border-radius: 5px;
  color: #ddd;
  text-align: center;
}

.card:hover {
  box-shadow: 0 0 25px 5px grey;
  cursor: pointer;
}

#cardz .card img {
  max-width: 100%;
  height: 190px;
}


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1165px) {
  .Name{
    display: none;
  }
  .pillz-holder{
    width: 100%;
    text-align: center
  }
  .pillz-holder ul{
    margin-left: 20%;
    text-align: center;
  }
  #projects h1, #featured h1, #featured p{
    text-align: center;
    width: 100%;
  }
  #featured img{
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  #projects ul li {
    padding: 0;
    margin: 0 0 0 150px;
    text-align: center;
  }
  #cardz .card img{
    width: 350px;
  }
}
@media only screen and (max-width:990px) {
  #projects ul li {
    padding: 0;
    margin: 5px -10px  5px 110px;
    text-align: center;
  }
}
/* Medium Devices, Desktops */

@media only screen and (max-width: 768px) {
  header {
    display: none;
  }
  .header-icons{
    display: none;
  }
  #projects h1, #featured h1, #featured p{
    text-align: center;
    width: 100%;
  }
  #cardz .nav a {
    color: #000;
    margin: 0 -150px 0 -10px;
    width: 125px;
    font-size: 15px;
}
  
  #featured img{
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  #cardz .card img{
    width: 350px;
  }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
  
  .title {
    display: none;
  }
  #projects h1, #featured h1, #featured p{
    text-align: center;
    width: 100%;
  }
  #projects ul li {
    padding: 0;
    margin: 0 0 0 150px;
    text-align: center;
  }
  #featured img{
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  #cardz .card img{
    width: 350px;
  }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 583px) {
  #home h2{
    font-size: 22px;
  }
  header {
    display: none;
  }
#projects h1, #featured h1, #featured p{
    text-align: center;
    width: 100%;
  }
  #cardz .nav a {
    color: #000;
    font-size: 10px;
    width: 80px;
}
  
  #projects ul li {
    padding: 0;
    margin: 0 100px 0 80px;
    text-align: center;
  }
 #projects #nav-css{
    margin-left: 20px;
   content: "CSS";
  }
  #projects #nav-css:after{
    margin-left: -20px;
  
  }
  #projects #nav-js{
    margin-left: 5px;
  }
  #featured img{
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  #cardz .card img{
    width: 350px;
  }
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
  body{
    font-size: 12px;
  }
  header {
    display: none;
  }
  #projects h1, #featured h1, #featured p{
    text-align: center;
    width: 100%;
  }
  ##projects ul li {
    padding: 0;
    margin: 0 0 0 150px;
    text-align: center;
  }
  #cards .card img{
    width: 350px;
  }
}