body{
  background-image: url('http://i1308.photobucket.com/albums/s612/aundreydrummond/background_zpsjxdga2xo.jpg');
 
}

.box{
 position: absolute; left: 500px; 
  margin-left: 225px; 
  width: 600px; 
  height: 400px;
  background: blue;
  border: 8px solid black;
  top: 150px;
  birder-radius; 10x;
}

.qwholder{
  background-color: white;
  height: 50%;
  margin: 15px;
  border-radius: 10px;
}
#quotes{
  padding: 15px;
}